$weetColor: #b5b9ac;
$secondweetcolor: #dbdfd0;
$lightWeetColor: #f3f3f0;
$secondWhite: #f9f9f7;
$darkWeetColor: #595c4f;
$redColor: #ad343e;
$grayColor: #474747;
$lightDarkBlue: #495460;
$darkBlackYellow: #2c2f24;
$white: #fff;
$black: #000;
* {
  transition: 0.08s;
  // font-family: "bootstrap-icons";
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: $white;
}

.font-size-12 {
  font-size: 12px;
}
.font-size-13 {
  font-size: 13px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-17 {
  font-size: 17px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-19 {
  font-size: 19px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-21 {
  font-size: 21px;
}

// common
.section {
  padding: 50px 0;
}
.primary-button {
  padding: 18px 35px;
  font-weight: 600;
  color: $black;
  border: 3px solid $lightWeetColor;
  border-radius: 35px;
  font-weight: 600;
  margin: 10px;
  min-width: 165px;
}
.primary-button:hover {
  border: 3px solid $redColor;
  background-color: $redColor;
  color: $white;
}
.pointer{
  cursor: pointer;
}

.custom-button {
  padding: 14px 35px;
  font-weight: 600;
  border-radius: 35px;
  font-weight: 600;
  min-width: 165px;
  background-color: $redColor;
  border: 3px solid $redColor;
  color: $white;
  font-family: "system-ui";
}
.custom-button:hover {
  border: 3px solid $lightWeetColor;
  background-color: $weetColor;
  color: $black;
}

.first-header-component {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;

  h1 {
    font-size: 5rem;
    font-family: "bootstrap-icons";
    color: $darkBlackYellow;
    margin-bottom: 3rem;
  }
  p {
    font-weight: 600;
    line-height: 2rem;
    font-size: 1rem;
    color: $lightDarkBlue;
    max-width: 557px;
  }
}
.section-head {
  font-family: bootstrap-icons;
  text-align: center;
  padding: 20px;
}

.box-shadow {
  box-shadow: 0px 0px 14px 0px #0000003d;
}
// custom form card
.form-section-card {
  background-color: $secondWhite;

  .form-card {
    position: relative;
    z-index: 100;
    background-color: $white;
    padding: 40px;
    border-radius: 6px;
    max-width: 812px;
    margin: auto;
    // margin-bottom: -50%;

    label {
      margin-bottom: 15px;
      font-family: "system-ui";
      font-weight: 600;
    }
    input {
      font-family: "system-ui";
      width: 100%;
      padding: 10px;
      border-radius: 20px;
      border: 1px solid $weetColor;
      margin-bottom: 25px;
    }
  }
}

// Header
.socialBar {
  background-color: rgb(72, 72, 72);
  color: $white;
  .social-container {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .social-icons {
      li {
        margin-left: 10px;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: #747474;
          width: 30px;
          height: 30px;
          transition: 0.3s;
        }
        div:hover {
          background-color: #616161;
        }
      }
    }
  }
  @media (max-width: 650px) {
    .social-container {
      display: block;
      ul {
        margin-bottom: 10px;
      }
    }
  }
}
.Header {
  box-shadow: 0px 2px 10px #cccccc57;
  position: sticky;
  top: 0px;
  background-color: $white;
  z-index: 1000;

  // main header
  .main-header {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 10px;

      .logo {
        img {
          width: 200px;
        }
      }
      .navbar {
        nav {
          ul {
            display: flex;
            li {
              margin-left: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              .nav-link {
                font-family: system-ui;
                color: #000;
                font-weight: 600;
                font-size: 1.05rem;
                border-radius: 20px;
                padding: 7px 15px;
                text-decoration: none;
              }
              .nav-link:hover {
                color: red;
                background-color: #dbdfd0;
              }
            }
          }
        }
      }
      .book-table-btn {
        border-radius: 40px;
        padding-top: 13px;
        padding-bottom: 12px;
      }
    }
  }
}
.active-link {
  background-color: #dbdfd0;
  color: red; /* Set the color for the active link */
}

// Footer
.footer {
  footer {
    background-color: $grayColor;
    box-shadow: 0px -3px 10px #000;

    .footer-container {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 100px 0;

      .slice1 {
        margin-bottom: 20px;
        .logo {
          margin-bottom: 40px;
        }
        .paragraph-footer {
          margin-bottom: 40px;
          p {
            color: $weetColor;
            max-width: 25rem;
          }
        }
        .social-icons-footer {
          ul {
            display: flex;
            li {
              margin-right: 10px;
              a {
                color: $white;

                svg {
                  background-color: $redColor;
                  padding: 10px;
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                }

                svg:hover {
                  background-color: $white;
                }
              }
              a:hover {
                color: $redColor;
              }
            }
          }
        }
      }

      .slice2 {
        color: $secondWhite;
        p {
          color: $weetColor;
        }
      }

      .slice3 {
        h6 {
          color: $white;
          margin-bottom: 40px;
        }

        .image-container {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: auto auto;
          grid-template-rows: auto auto;

          img {
            border-radius: 12px;
            max-width: 130px;
          }
        }
      }
    }
  }
  .copy-right {
    text-align: center;
    padding: 20px;
    border-top: 1px solid $weetColor;

    p {
      color: $weetColor;
    }
  }
}

// Home page
.main-section {
  height: 100vh;
  width: 100%;
  background-image: url("../Images/home-page/mainSection.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .main-section-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 5rem;
      font-family: "bootstrap-icons";
      margin-bottom: 3rem;
    }
    p {
      font-weight: 600;
      line-height: 2rem;
      font-size: 1rem;
    }
    div {
      button {
        padding: 20px 35px;
        border-radius: 35px;
        font-weight: 600;
        margin: 10px;
      }
      button:first-child {
        background-color: $redColor;
      }
    }
  }
}
.brows-section {
  .brows-card {
    border: 2px solid $weetColor;
    padding: 40px;
    text-align: center;
    margin-bottom: 20px;
    min-height: 100%;
    // min-width: 278px;
    transition: 1s;

    .card-icon {
      margin: auto;
      margin-bottom: 30px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: $lightWeetColor;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }

    .card-title {
      margin-bottom: 20px;
    }
    .card-body {
      color: $darkWeetColor;
    }
    .card-link {
      font-weight: 600;
      color: $redColor;
    }
  }
  .brows-card:hover {
    background-image: url("../Images/home-page/sky.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.visitus-section {
  background-color: $secondWhite;

  .content {
    padding: 45px;
    position: relative;
    img {
      max-width: 100%;
    }

    h1 {
      margin-bottom: 20px;
    }
    button {
      margin-top: 40px;
    }
  }
  .content.details {
    padding: 80px 40px;
  }
  .contact-container {
    background-color: $grayColor;
    color: $white;
    padding: 40px;
    max-width: 411px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;

    h5 {
      margin-bottom: 40px;
    }
    ul {
      li {
        margin-bottom: 25px;
        a {
          display: flex;
          div {
            margin-left: 20px;
          }
        }
      }
    }
  }
}

// About page
.video-section {
  background-image: url("../Images/about-page/DarkScreen.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px;
}

.description-section {
  background-color: $white;

  .card-container {
    display: flex;
    margin-bottom: 10px;

    div:first-child {
      padding-right: 30px;
    }
  }
}
.guestinfo-section {
  background-color: $secondWhite;

  .content {
    padding: 45px;
    position: relative;

    .discription {
      h1 {
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 60px;
      }
    }
  }
  .content.details {
    padding: 80px 0px;
  }
  .info-card {
    border: 1px solid $weetColor;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 35px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 25px;
  }
  .infoimg-container {
    padding: 45px;
    display: flex;
    height: 100%;
    align-items: center;
  }
  .infoimg {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    min-width: 100%;
    max-height: 655px;
  }
}
.sponsers-section {
  background-color: $secondWhite;

  .content {
    padding: 55px;
    position: relative;

    img {
      max-width: 100%;
    }

    h1 {
      margin-bottom: 20px;
    }
    button {
      margin-top: 40px;
    }
  }

  .contact-container {
    background-color: $grayColor;
    color: $white;
    padding: 40px;
    max-width: 411px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  }

  .sponser-card {
    margin: 10px;
    padding: 25px;
    background-color: $white;
    border-radius: 8px;
  }
}

.opinions-section {
  .content {
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
    }
    .user-card {
      background-color: $secondWhite;
      padding: 20px;
      margin: 20px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      .top-part {
        border-bottom: 1px solid #7474742a;
      }
      .down-part {
        display: flex;
        padding: 20px 0;
        margin-top: 10px;
        .userdata {
          margin-left: 20px;
          margin-top: 10px;
        }
      }
      h5 {
        color: #ad343e;
      }
      p {
        color: #414536;
      }
    }
  }
}

// Menu Page
.menu-bar {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

// Book table page
.book-header-section {
  background-color: $secondWhite;
}
.book-form-section {
  background-color: $secondWhite;
  height: 227px;

  .form-card {
    position: relative;
    z-index: 100;
    background-color: $white;
    padding: 40px;
    border-radius: 6px;
    max-width: 812px;
    margin: auto;
    margin-bottom: -50%;

    label {
      margin-bottom: 15px;
      font-family: "system-ui";
      font-weight: 600;
    }
    input {
      font-family: "system-ui";
      width: 100%;
      padding: 10px;
      border-radius: 20px;
      border: 1px solid $weetColor;
      margin-bottom: 25px;
    }
  }
}

.service-container {
  .meal-card {
    border: 2px solid $secondweetcolor;
  }
  .meal-info {
    text-align: center;
  }
  .card-price {
    font-weight: 600;
    color: $redColor;
    margin-bottom: 20px;
  }
}

.leaflet-container {
  z-index: 0;
  height: 600px;
}

// sign in page
.signin {
  height: 90vh;
  background-color: url();
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../Images/auth/pexels-ella-olsson-1640773.jpg);
  background-position: center;
  background-size: cover;
}

.formik {
  max-width: 520px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #c1c1c1;
  color: #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 30px;
  margin: 30px 0px;
}

.formik h1 {
  font-size: 36px;
  text-align: center;
  color: #d04848;
}

.input-box {
  width: 100%;
  height: 50px;
  margin: 20px 0px;
  position: relative;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid #c1c1c1;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  font-size: 16px;
  color: #dd4b4b;
  padding: 20px 45px 20px 20px;
}

.input-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 15px;
  color: #d04848;
}

.input-box input::placeholder {
  color: #c18989;
}

.remember-forget {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forget label input {
  accent-color: #bab5b5;
  margin-right: 3px;
}

.remember-forget a {
  color: #dd4b4b;
  text-decoration: none;
}

.remember-forget a:hover {
  text-decoration: underline;
}

.btn-login {
  width: 100%;
  height: 45px;
  background-color: #d04848;
  border: none;
  outline: none;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}

.btn-login:hover {
  background-color: transparent;
  color: #ad343e;
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
}

.regester-link {
  font-size: 16px;
  text-align: center;
  margin: 20px 0 15px;
}

.regester-link p a {
  color: #d04848;
  text-decoration: none;
  font-weight: 600;
}

.regester-link p a:hover {
  text-decoration: underline;
}

// profile page

.profile-body {
  background-image: url(../Images/auth/profile-page.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .profile-container {
    max-width: 600px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #c1c1c1;
    color: #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 30px;
    margin: 30px 0px;

    h1 {
      font-size: 36px;
      text-align: center;
      color: #d04848;
    }
  }

  .input-box {
    width: 100%;
    height: 50px;
    margin: 20px 0px;
    position: relative;
  }

  .input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid #c1c1c1;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    font-size: 16px;
    color: #341d1d;
    padding: 20px 45px 20px 20px;
  }

  .input-box input::placeholder {
    color: #d07e48;
  }

  .btn-profile {
    width: 100%;
    height: 45px;
    background-color: #d07e48;
    border: none;
    outline: none;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
  }

  .btn-profile:hover {
    background-color: transparent;
    color: #d07e48;
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
  }
}

// blog page
.blog {
  padding: 60px 0 30px 0;
}
.blogPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}
.blogPage h1 {
  color: #2c2f24;
  font-family: "Playfair Display";
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
  margin-bottom: 24px;
}
.blogPage p {
  width: 50%;
  color: #495460;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.gridBlog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 10px;
  padding: 40px 0 100px 0;
}
.itemgrid img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card_menu {
  margin-bottom: 80px;
}
.card-body {
  text-align: center;
  padding: 20px 0;
}
.card-date-blog {
  color: #414536;
  text-align: center;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  padding: 0 10px;
}
.card-text {
  color: #2c2f24;
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  padding: 0px 5px;
  line-height: 26px;
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .blogPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .blogPage h1 {
    color: #2c2f24;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px;
    margin-bottom: 30px;
  }
  .blogPage p {
    width: 90%;
    color: #2c2f24;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
  }
  .gridBlog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 10px;
  }
}
@media only screen and (max-width: 700px) {
  .blogPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .blogPage h1 {
    color: #2c2f24;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px;
    margin-bottom: 30px;
  }
  .blogPage p {
    width: 90%;
    color: #2c2f24;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
  }
  .gridBlog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px 10px;
  }
}
